<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="lissi-oid4vc" value="https://pkgs.dev.azure.com/lissi-id/OID4VC/_packaging/lissi-oid4vc/nuget/v3/index.json" />
    </packageSources>
</configuration>
